<!--== Preloader Area Start ==-->
<div class="preloader">
  <div class="preloader-spinner">
    <div class="loader-content">
      <img src="assets/img/preloader.gif" alt="JSOFT">
    </div>
  </div>
</div>
<!--== Preloader Area End ==-->

<!--== Header Area Start ==-->
<header id="header-area" class="fixed-top">
  <!--== Header Top Start ==-->
  <div id="header-top" class="d-none d-xl-block">
    <div class="container">
      <div class="row">
        <!--== Single HeaderTop Start ==-->
        <div class="col-lg-3 text-left">
          <i class="fa fa-map-marker"></i> 12/3, Bambalapitiya, Colombo 3
        </div>
        <!--== Single HeaderTop End ==-->

        <!--== Single HeaderTop Start ==-->
        <div class="col-lg-3 text-center">
          <i class="fa fa-mobile"></i> 011 2 855 855
        </div>
        <!--== Single HeaderTop End ==-->

        <!--== Single HeaderTop Start ==-->
        <div class="col-lg-3 text-center">
          <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
        </div>
        <!--== Single HeaderTop End ==-->

        <!--== Social Icons Start ==-->
        <div class="col-lg-3 text-right">
          <div class="header-social-icons">
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <!--== Social Icons End ==-->
      </div>
    </div>
  </div>
  <!--== Header Top End ==-->

  <!--== Header Bottom Start ==-->
  <div id="header-bottom">
    <div class="container">
      <div class="row">
        <!--== Logo Start ==-->
        <div class="col-lg-4">
          <a href="" class="logo">
            <img src="assets/img/logo.png" alt="JSOFT">
          </a>
        </div>
        <!--== Logo End ==-->

        <!--== Main Menu Start ==-->
        <div class="col-lg-8 d-none d-xl-block">
          <nav class="mainmenu alignright">
            <ul>
              <li [ngClass]="{'active': isActive(' ')}"><a (click)="reloadHome();" style="cursor: pointer;">Home</a></li>
              <li [ngClass]="{'active': isActive('/about')}"><a (click)="reloadAbout();" style="cursor:pointer;">About</a></li>
              <!-- routerLink="/cars" [queryParams]="{brand: 'all'}" -->
              <li [ngClass]="{'active': isActive('/cars')}"><a *ngIf="cardoorLoginService.isUserLoggedIn()" (click)="reloadCars('all');" style="cursor: pointer;">Cars</a>
                <ul>
                  <li><a (click)="reloadCars('MERCEDES BENZ');" style="cursor: pointer;">MERCEDES BENZ</a></li>
                  <li><a (click)="reloadCars('BMW');" style="cursor: pointer;">BMW</a></li>
                  <li><a (click)="reloadCars('AUDI');" style="cursor: pointer;">AUDI</a></li>
                  <li><a (click)="reloadCars('TOYOTA');" style="cursor: pointer;">TOYOTA</a></li>
                  <li><a (click)="reloadCars('NISSAN');" style="cursor: pointer;">NISSAN</a></li>
                  <li><a (click)="reloadCars('MAZDA');" style="cursor: pointer;">MAZDA</a></li>
                </ul>
              </li>
              <li [ngClass]="{'active': isActive('/booking/history')}"><a *ngIf="cardoorLoginService.isUserLoggedIn()" (click)="reloadBookingHistory();" style="cursor:pointer;">My Bookings</a></li>
              <li [ngClass]="{'active': isActive('/contact')}"><a (click)="reloadContact();" style="cursor: pointer;">Contact</a></li>
              <li [ngClass]="{'active': isActive('/login')}"><a *ngIf="!cardoorLoginService.isUserLoggedIn()" (click)="reloadLogin();" style="cursor: pointer;">Login</a></li>
              <li [ngClass]="{'active': isActive('/admin')}"><a *ngIf="cardoorLoginService.isUserLoggedIn() && cardoorLoginService.isUserAnAdmin()"
                     (click)="reloadAdmin();" style="cursor: pointer;">Admin Home</a></li>
              <li [ngClass]="{'active': isActive('/logout')}"><a *ngIf="cardoorLoginService.isUserLoggedIn()" (click)="reloadLogout();" style="cursor: pointer;">Logout</a></li>
            </ul>
          </nav>
        </div>
        <!--== Main Menu End ==-->
      </div>
    </div>
  </div>
  <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->
