<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a>
            Cardoor
          </a>
        </li>
        <li>
          <a>
            About Us
          </a>
        </li>
        <li>
          <a>
            Blog
          </a>
        </li>
        <li>
          <a>
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      {{ currentYear | date:'yyyy' }}
      , made with <i class="material-icons">favorite</i> by
      <a target="_blank">Cardoor</a> for a Better Service.
    </div>
  </div>
</footer>
