<div class="sidebar" data-color="danger" data-background-color="white" data-image="assets/admin/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo"><a (click)="reloadAdmin();" class="simple-text logo-normal" style="cursor: pointer;">
    Cardoor
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li [ngClass]="checkRoute('/admin')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadAdmin();" style="cursor: pointer;">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/admin/cars')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadCars();" style="cursor: pointer;">
          <i class="material-icons">local_taxi</i>
          <p>Car List</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/admin/cars/manage')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadManageCars();" style="cursor: pointer;">
          <i class="material-icons">local_car_wash</i>
          <p>Manage Cars</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/admin/bookings')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadBooking();" style="cursor: pointer;">
          <i class="material-icons">library_books</i>
          <p>Car Bookings</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/admin/payments')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadPayment();" style="cursor: pointer;">
          <i class="material-icons">payment</i>
          <p>Payments</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/admin/refunds')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadRefund();" style="cursor: pointer;">
          <i class="material-icons">R</i>
          <p>Refunds</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/admin/settings')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadSettings();" style="cursor: pointer;">
          <i class="material-icons">settings</i>
          <p>Settings</p>
        </a>
      </li>
      <li [ngClass]="checkRoute('/logout')? 'nav-item active': 'nav-item'">
        <a class="nav-link" (click)="reloadLogout();" style="cursor: pointer;">
          <i class="material-icons">logout</i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
